.jumbotron {
  padding: 1.5rem 2rem;
  margin-bottom: 1rem;
}

.jumbotron h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0.5rem;
}

.form-group {
  width: 400px;
  height: 300px;
  padding-left: 50px;
}

#check {
  margin-left: 0;
  margin-top: 10px;
}

.btn {
  display: block;
}

.form-control {
  border-style: solid;
  border-color: lightslategrey;
}

.form-check-label {
  padding-left: 20px;
  margin: 5px 0px 5px 0px;
}

.btn-info {
  background-color: blue;
  border-color: blue;
  color: #fff;
  margin: 20px 20px 20px 50px;
}

.btn-success {
  background-color: #0d4a0d;
  border-color: #0d4a0d;
  color: #fff;
}

.btn-success:hover,
.btn-success:focus {
  background-color: #1f6e1f;
  border-color: #1f6e1f;
  color: #fff;
}

.btn-warning {
  background-color: #9f6000;
  border-color: #9f6000;
  color: #fff;
}

.btn-warning:hover,
.btn-warning:focus {
  background-color: #b76e01;
  border-color: #b76e01;
  color: #fff;
}

